body {
    background-color: #111;
    color: #eee;
    font-size: 24px;
    padding-left: 30px;
}

.headline {
    font-weight: 600;
    font-size: 120px;
    line-height: 130px;
}

.naughty {
    font-family: 'Playball', cursive;
    font-weight: 300;
    color: #9d83d1;
}

.subheading {
    padding-top: 20px;
    color: #bba7e2;
}

.question {
    font-weight: 600;
    width: 100px;
    display: inline-block;
}

.details {
    padding-top: 40px;
}

.rsvp {
    padding-top: 40px;
}

a {
    color: #bba7e2;
    text-decoration: none;
}
